@import url('https://fonts.googleapis.com/css?family=Raleway:200,500');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/***** nav section *****/
.nav {
    display: grid;
    grid-template-columns: 100%;
    justify-items: right;
    background-color: #29323c;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a > i {
    margin-right: 3px;
}


/***** header section *****/
.home-header {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    text-align: center;
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(35deg, #114357, #F29492);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(35deg, #114357, #F29492); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

.home-header div {
    height: 25%;
}

.home-header h1 {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 2.5px;
    letter-spacing: 3.5px;
    text-decoration: none;
}

.home-header p {
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 5px;
}

/* links to code and contact email */
.social-links a {
    text-decoration: none;
    color: white;
    margin: 5px;
}

.social-links i:hover {
    top: -5px;
    padding-bottom: 10px;
    position: relative;
    color: #2c3e50;
}

#logo {
    height: 1.5em;
    width: 1.5em;
    vertical-align: -0.4em;
}

.title {
    margin-left: 30px;
}

/***** projects section *****/
.projects {
    height: 100vh;
    width: 75vw;
    margin: auto;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    text-decoration: underline;
}

header h1 > i {
    margin-right: 5px;
}

.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    /* justify-items: center;
    align-items: center; */
    height: 92.5%;
    margin-left: 30px;
    margin-right: 30px;
}

.app {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 7px 7px 7px #666;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.app > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#movie img {
    object-position: 55% 10%;
}

#nau img {
    object-position: 53% 50%;
}

#clothr img {
    object-position: 50% 70%;
}

#ezrecipe img {
    object-position: 25% 50%;
}

#blog img {
    object-position: 40% 50%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0.2, 0.2, 0.2, 0.75);
    width: 100%;
    height: 0;
    opacity: 0;
    transition: .5s ease-in-out;
  }
  
.app:hover .overlay, .app:hover .overlay > a, .app:hover .overlay > .desc {
    height: 50%;
    opacity: 1;
}

.app:hover {
    top: -10px;
}

.overlay a {
    color: white;
    position:absolute;
    top: 5%;
    left: 5%;
    font-size: 20px;
    opacity: 0;
    transition: 1s ease-in;
}

.desc {
    font-family: Lato;
    color: white;
    position:absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    opacity: 0;
    transition: 1s ease-in;
}

/***** about me section *****/
.about {
    height: 25vh;
    width: 75vw;
    margin: auto;
}

.info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 30px;
}

.info img {
    justify-self: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}