<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gillybear</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="icon" type="img/ico" href="../assets/img/favicon.ico">
</head>
<body class="resume-body">
    <nav class="nav">
        <a href="#" class="bars" id="hamburger"><i class="fa fa-bars"></i></a>
        <section class="nav-links" id="links">
            <a href="../index.html" class="active"><i class="fas fa-home"></i>Home</a>
            <a href="#project"><i class="fas fa-folder"></i>Projects</a>
            <a href="#"><i class="fas fa-file"></i>Resume</a>
            <a href="#about-me"><i class="fas fa-info-circle"></i>About Me</a>
        </section>
    </nav>
    
    <section class="download-links">
        <p>Download as a <a href="../assets/Resume.pdf" download>PDF</a></p>
        <p>Download as a <a href="../assets/Resume.docx" download>Word doc</a></p>
    </section>

    <section class="resume">
        <header class="resume-header">
            <h1>RESUME</h1>
        </header>

        <section class="workRes">
            <h2 class="workTitle">Work Experience</h2>
            <div>
                <h3>UCSC ResNet</h3>
                <p>Santa Cruz, CA</p>
                <p><em>Student Technical Support Specialist</em></p>
            </div>
            <h4><em>September 2016 - July 2017</em></h4>
            <ul class="workDet">
                <li>
                    Worked with a team of technicians to troubleshoot network 
                    and software issues for clients in-person, over the phone, 
                    and on-site
                </li>
                <li>
                    Used ServiceNow request system to communicate with clients 
                    about DMCA and malware problems and to document computer 
                    repairs
                </li>
                <li>
                    Configured 80+ routers to be compliant with the campus 
                    network and repaired computers through OS installs/repairs 
                    and virus/malware removal
                </li>
            </ul>
        </section>
        <hr>
        <section class="projectRes">
            <h2>Projects</h2>
            <section class="projList">
                <h3>Random Movie Generator</h3>
                <h4>June 2018</h4>
                <ul class="projDet">
                    <li>
                        React app that helps users narrow down a movie to watch
                    </li>
                    <li>
                        Utilized a filter to generate an API URL to fetch data 
                        for a random movie and display it to the user
                    </li>
                    <li>
                        Implemented calls to The Movie Database API to get movie
                        data, JavaScript, and CSS flexbox
                    </li>
                </ul>
            </section>
            <section class="projList">
                <h3>Simple Personal Blog</h3>
                <h4>February 2018</h4>
                <ul class="projDet">
                    <li>
                        Static blog site built with Jekyll with the layout 
                        created with HTML/CSS and posts written in Markdown
                    </li>
                </ul>
            </section>
            <section class="projList">
                <h3>Northern Arizona University Ski & Snowboard Website</h3>
                <h4>January 2018</h4>
                <ul class="projDet">
                    <li>
                        Designed and implemented a responsive website for the 
                        NAU club built with HTML/CSS
                    </li>
                    <li>
                        Utilized Bootstrap 3 and jQuery to create a robust user 
                        experience with designs such as a simple navbar and fade 
                        in animations
                    </li>
                    <li>
                        Implemented RESTful API with Node.js
                    </li>
                </ul>
            </section>
            <section class="projList">
                <h3>Clothr - Tinder for Clothes</h3>
                <h4>Sept - Dec 2017</h4>
                <ul class="projDet">
                    <li>
                        Developed an iOS app in swift on Xcode with a team of 
                        4 provide users easier access to desired clothing
                    </li>
                    <li>
                        Parse server used to store users and data of their 
                        saved clothing
                    </li>
                    <li>
                        Used ShopStyle API to retrieve data on clothing items
                    </li>
                </ul>
            </section>
            <section class="projList">
                <h3>EZRecipe - Recipe Generator</h3>
                <h4>Jan - March 2016</h4>
                <ul class="projDet">
                    <li>
                        Utilized the Scrum method and model-view-controller 
                        architecture to develop a web app using Python on web2py 
                        with to output recipes based on ingredients given by a 
                        user 
                    </li>
                    <li>Used Spoonacular API to retrieve recipes</li>
                </ul>
            </section>
        </section>
        <hr>
        <section class="skills">
            <h2>Languages and Tools</h2>
            <div>
                <div class="skills-list">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                    <p>Python</p>
                    <p>Java</p>
                    <p>jQuery</p>
                    <p>Bootstrap</p>
                    <p>Express</p>
                    <p>Node.js</p>
                    <p>Mongoose</p>
                    <p>PostgreSQL</p>
                    <p>Git</p>
                </div>
            </div>
        </section>
        <hr>
        <section class="edu">
            <h2>Education</h2>
            <h3 class="school">University of California, Santa Cruz</h3>
            <h4>Sept 2014 - Dec 2017</h4>
            <em>Bachelor of Science in Computer Science</em>
            <p class="courses">Related Coursework:</p>
            <ul>
                <li>Analysis of Algorithms</li>
                <li>Data Structures</li>
                <li>Database Systems</li>
            </ul>
            <ul>
                <li>Operating Systems</li>
                <li>Intro to Software Engineering</li>
                <li>Web Applications</li>
            </ul>
        </section>
    </section>
</body>
</html>